<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        Resolution list
      </h1>
    </td>
	
    <td class="sidebar round">
      <CENTER><%= facebook_profile_for(@us) %></CENTER><br />
	  <strong>Name</strong> <%= @user.name %><br />
	  <strong>Member since</strong> <%= time_ago_in_words(@user.created_at) %><br />
      <strong>Resolutions</strong> todo <br />
	  <strong>Activity</strong> todo <br />
	  <strong>Friends on Papernote</strong> ###<br />
	  see your friends resolutions
	  <br />
	  <% if @user.id == session[:user_id] %>
	  <strong>Delete:</strong>
	  <%=link_to "Delete", @user, :method => :delete, :confirm => "You will delete all your user data. You sure?",
                                :title => "Delete #{@user.name}" %>, 4ever!
	  <% end %> 
	</td>
  </tr>
</table>
<p>

