<h1>Contact</h1>
<p>
  Paper note is proudly brought to you by brunosan.
  <p>
  Concact him at <a href="mailto:brunosan@gmail.com?subject=From a Papernote visitor&amp;body=For urgent matter, please use urgent@brunosan.eu or call 417-2786676">brunosan@gmail.com</a> 
</p>